@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
  --box-bg-color: #097969;
}
.glossary-tooltip {
  background-color: red;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid var(--box-bg-color); /* If you want dots under the hoverable text */
}
span.glossary-tooltiptext {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.glossary-tooltip .glossary-tooltiptext {
  visibility: hidden;
  width: 291px;
  height: 110px;
  background-color: var(--box-bg-color);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  
  position: absolute;
  z-index: 1;
}
.glossary-tooltip:hover .glossary-tooltiptext {
  visibility: visible;
}
