@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
  --box-bg-color: #097969;
}

span.glossary-term {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.glossary-term-content {
  position: relative;
  display: inline-block;
}

.glossary-term-content .glossary-termtext {
  visibility: hidden;
  width: 291px;
  height: 110px;
  background-color: var(--box-bg-color);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  
  position: absolute;
  z-index: 1;
}

.glossary-term-content:hover .glossary-termtext {
  visibility: visible;
}