.glossary-tooltip {
    position: relative;
    cursor: help;
  }
  
  .glossary-tooltip::after {
    content: attr(title);
    position: absolute;
    left: 100%;
    top: 50%;
    padding: 0.5em;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    transform: translate(5px, -50%);
    white-space: nowrap;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .glossary-tooltip:hover::after {
    opacity: 1;
  }
  .glossary-highlight {
    background-color: rgb(255, 94, 0);
    font-weight: bold;
  }